/* Remove default styles*/
body,
menu, figure {
    padding: 0;
    margin: 0;
}
menu {
    list-style-type: none;
}

/* Layout*/
body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
body > main {
    flex: 1 1 auto;
}

/* header*/
header {
    --nav-height: 3rem;
    outline: 2px solid blue;
}
header .tabs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: var(--nav-height);
}
.tabs .tab {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    
}
#home-tab{
    width: 50%;
    display: flex;
    justify-content: center;
}
.placeholder {
    background: black url("../img/Untitled.png");
}
.tabs .submenu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.submenu .tab {
    padding-inline: 1em;
}

.intro .title {
    text-align: center;
}
.intro .hero {
    position: relative;
    text-align: center;
    font: normal small-caps 300 1.38rem/1.62 system-fonts,san-serif;
    padding-inline: 0.62rem;
}
.intro .hero::after {
    position: absolute;
    right: 1.62rem;
    bottom: -1rem;
    content: "Every bite is story to your tongue.";
    font-size: 62%;
    line-height: normal;
    font-variant: normal;
    font-stretch: extra-condensed;
}

.price-tag {
    display: non;
}
.tag {
    --length: 5rem;
    --clr: grey;
    position: relative;
    height: max(3rem, var(--length) * 0.782);
    border: 1px solid red;
}
.tag .circle {
    position: absolute;
    right: calc(1.682rem + var(--length));
    height: 100%;
    width: max(3rem, var(--length) * 0.782);
    border-radius: 50%;
    background-color: var(--clr);
}
.tag .rect {
    position: absolute;
    right: 0.236rem;
    transform:translateY(-50%);
    top: 50%;
    background-color: var(--clr);
    width: max(var(--length) * 1.782, 3rem);
    line-height: 1.782;
    padding-right: 0.628rem;
    text-align: right;
}

/* Article styles */
#deals .deal {
    border: 1px solid gray;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-height: 7rem;

    padding: 0.5rem;
}
.deal .deal-description {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    align-items: center;
}