/* Remove default styles*/
body,
menu, figure,
h1, h2, h3 {
    padding: 0;
    margin: 0;
}
menu {
    list-style-type: none;
}


/* Layout */
body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    --nav-height: 3rem;
    --footer-height: 1.15rem;
}
#header {
    min-height: var(--nav-height);
}
#main {
    flex: 1 1 auto;
}
footer {
    min-height: var(--footer-height);
}

/* header */
.tabs {
    display: flex;
    flex-flow: row nowrap;
    height: var(--nav-height);
}
.tabs .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    cursor: pointer;
    height: 100%;
    padding-inline: 0.23rem;
    border-radius: 0.38rem;
}
.tabs .tab:hover {
    font-size: 107%;
    background-color: rgba(128, 128, 128, 0.23);
}
#home-tab{
    width: 50%;
}
.logo img {
    height: var(--nav-height);
    object-fit: contain;
}
.tabs .submenu {
    display: flex;
    width: 50%;
}

.intro .title {
    text-align: center;
    margin: 0;
    line-height: 1.382;
}
.intro .hero {
    position: relative;
    text-align: center;
    font: normal small-caps 300 1rem/1.38 system-fonts,san-serif;
    padding-inline: 0.62rem;
}
.intro .hero::after {
    position: absolute;
    right: 1.62rem;
    bottom: -1rem;
    content: "Every bite is story to your tongue.";
    font-size: 62%;
    line-height: normal;
    font-variant: normal;
    font-stretch: extra-condensed;
}


/*
    Featured deal
*/
#main {
    display: flex;
    max-height: calc(100vh - var(--nav-height) - 1.15rem);
}
.featured {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sub-heading {
    font-weight: 300;
    line-height: 1.782;
    padding-left: 0.628rem;
}
.featured .cover-img {
    flex-grow: 1;
    background: gray;
    overflow: clip;
    height: calc(100% - 1.782rem);
}
.cover-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 78vh;
    object-position: 50% 50%;
}

/*Price tag*/
.price-tag {
    --length: 5rem;
    --clr: rgb(81, 174, 164);
    position: absolute;
    bottom: 0.38rem;
    right: 0;
}
.price-tag > div {
    position: relative;
    height: max(3rem, var(--length) * 0.782);
    width: var(--length);
}
.price-tag .circle {
    position: absolute;
    right: calc(1.682rem + var(--length));
    height: 100%;
    width: max(3rem, var(--length) * 0.782);
    border-radius: 50%;
    background-color: var(--clr);
}
.price-tag .rect {
    position: absolute;
    right: 0.236rem;
    transform:translateY(-50%);
    top: 50%;
    background-color: var(--clr);
    width: max(var(--length) * 1.782, 3rem);
    line-height: 1.782;
    padding-right: 0.628rem;
    text-align: right;
}

/*Menu items*/
.menu {
    width: 100%;
}
.deals .deal {
    display: grid;
    grid-template-columns: 8rem 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "fig name"
        "fig desc"
        "fig price";
    gap: 0.382rem;
    border-bottom: 1px solid  rgba(128, 128, 128, 0.12);
}
.deals .deal:hover {
    box-shadow: 0.236rem 0.382rem 1rem rgba(128, 128, 128, 0.12);
}
.deal .preview {
    grid-area: fig;
    border-radius: 0.38rem;
    box-shadow: 0.236rem 0.382rem 1rem rgba(128, 128, 128, 0.401);
}
.preview img {
    object-fit: cover;
    width:100%;
    max-height: 5rem;
    border-radius: 0.38rem;
}
.deal header {
    grid-area: name;
}
.deal .desc {
    grid-area: desc;
    margin: 0;
    line-height: 1.382;
    font-size: smaller;
}
.deal .price {
    grid-area: price;
}


.selected {
    flex-grow: 3;
    height: 62.8%;
    overflow: clip;
}

.menu-items {
    flex-grow: 2;
    height: 37.2%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.236rem;
}


/**/
.starring {
    margin-left: 1rem;
}

/**/
#templates,
.hidden {
    display: none;
}